:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
body {
  color: var(--primary-text-color);
  background: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.71;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
}
.logo {
  font-family: Raleway, sans-serif;
  color: var(--title-text-color);

  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}
.logo-secondly {
  font-family: Raleway, sans-serif;
  color: white;

  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}
.accent {
  color: #2196f3;
}
.site-nav_list .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}
.site-nav_list .link:hover,
.site-nav_list .link:focus {
  color: var(--accent-color);
}
.contact .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  text-decoration: none;
}
.contact .link:hover {
  color: var(--accent-color);
}
.hero {
  text-align: center;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: white;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  color: white;
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-decoration: none;
  cursor: pointer;
}
.feature-list {
  margin-top: 94px;
  margin-bottom: 94px;
}
.feature-list p {
  margin-top: 0px;
  margin-bottom: 94px;
}
.feature-list .title {
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.team .team-title {
  margin-top: 188px;
  margin-bottom: 50px;
}
.teammate {
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-list p {
  margin-top: 0px;
  margin-bottom: 16px;
}
.team-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.work-list .project {
  color: #ffffff;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.team-list .teammate {
  color: #212121;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list .title {
  color: #212121;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfolio-button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  height: 38px;
  text-align: center;
  border: none;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button :focus {
  color: #ffffff;
  background: #2196f3;
}
.portfolio-title {
  color: #212121;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.desription {
  color: #ffffff;

  font-size: 18px;
  line-height: 1.56;
}

.footer {
  background: #2f303a;
  color: #ffffff;
}
.adress {
  color: #ffffff;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.adress-block .link {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.join-title,
.sign-title {
  color: #ffffff;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.sign-button {
  border-radius: 4px;
  padding: 10px 28px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
